# Server-only variables - not exposed to browser
# Get your API key from https://www.weatherapi.com/
WEATHER_API_KEY=<YOUR_API_KEY>
WEATHER_API_URL=https://api.weatherapi.com/v1

# FLAGSMITH key - register account at https://flagsmith.com
NEXT_PUBLIC_FLAGSMITH_KEY=YOUR_ENVIRONMENT_KEY